<div class="center hero-unit">
  <h2>
     Hiwi-Planer des Hochschulrechenzentrums der Philipps-Universität Marburg
  </h2>

  <%= link_to "Login!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("hrzlogo20.jpg", alt: "Hochschulrechenzentrum", size:"130x130"), 'http://www.uni-marburg.de/hrz' %>