<footer class="footer">
  <small>
    <a href="http://uni-marburg.de/hrz">HRZ-Planer</a>
    (Tillmann Heigel)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "News", "https://twitter.com/HRZUni_MR", :target => "_blank"%></li>
    </ul>
  </nav>
</footer>